$primary-color: #263238;
$secondary-color: #8a9093;
$tertiary-color: #a9adb0;

$color-green: #37ad74;

$color-orange: #ffa12a;

$colour-black: #000;
$colour-offblack: #888;
$colour-red: #2C9F33;
$colour-gold: #DDBE5D;
$colour-gold-dark: #b79a3f;
$colour-smoke: #fafafa;
$colour-grey: #ADADAD;
$colour-gold-transparent: RGBA(226, 200, 115, 0.8);
$colour-white-transparent: RGBA(255, 255, 255, 0.6);
$color-footer: #686868;
$color-divider: #e8e8e8;
$color-hover: #e6e6e6;
$color-subtitle: #686868;
$colour-fb-blue: #39559F;
$colour-g-red: #DC4E41;
$colour-tw-blue: #55acee;
$color-offwhite: #fafafa;
$color-white-almost: #C0C0C0;

$color-list: #e59900;