$universal-navigation-height: 72px;
$site-navigation-height: 40px;

$grid-gutter-width: 0px;
$navbar-header-height: 80px;
$navbar-header-mobile-height: 80px;
$navbar-menu-height: 50px;
$menu-slide-width: 250px;

$height-small-widget: 300px;

$line-height: 23px;
$space-height: 20px;

/* Responsive breakpoints */
$mobile-width: 480px;
$responsive-break-xxs: 320px;
$screen-xs-min: 480px;
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 1023px;
$screen-md-min: 1024px;
$screen-md-max: 1279px;
$screen-lg-min: 1280px;
$screen-lllg-min: 1921px;
$responsive-break-llg: 1480px;
$responsive-break-lllg: 1920px;

$max-col-w: 400px;

$banner-height-sm: 515px;
$banner-height-md: 350px;
$banner-height-lg: 416px;
$banner-height-xs: 515px;

$footer-height-xxs: 250px;
$footer-height-xs: 230px;
$footer-height-sm: 190px;
$footer-height-md: 150px;
$footer-height-lg: 150px;
