<!DOCTYPE html>
<html>
<head lang='en'>
    <title>{{{title}}}</title>
    <meta http-equiv='Content-Type' content='text/html;charset=UTF-8'>
    <meta name='description' content='{{{meta_description}}}'>
    <meta name='keywords' content='{{{meta_keywords}}}'>
    <meta name='viewport' content='width=device-width,initial-scale=1.0'>
    <!-- {{{meta}}}  -->
    <!-- inject:css -->
    <!-- endinject -->

    <script type='text/javascript' src='/public/static/js/jquery-ui/external/jquery/jquery.js'></script>
    <script type='text/javascript' src='/public/static/js/jquery-ui/jquery-ui.min.js'></script>
    <script src='/public/gen/vendor.js'></script>
    <!-- inject:js -->
    <!-- endinject -->
</head>
<body class="apps">
    <div id='content'></div>
</body>
</html>
