/**
 * Default - for mobile
 * FONTS
 */
.font-w300 {
    font-weight: 300;
}
.font-w400 {
    font-weight: 400;
}
.font-w500 {
    font-weight: 500;
}
.font-w600 {
    font-weight: 600;
}
.font-w700 {
    font-weight: 700;
}
.font-s11 {
    font-size: 11px;
    line-height: 16px;
}
.font-s12 {
    font-size: 12px;
    line-height: 18px;
}
.font-s13 {
    font-size: 13px;
    line-height: 18px;
}
.font-s15 {
    font-size: 15px;
    line-height: 20px;
}
.font-s18 {
    font-size: 18px;
    line-height: 24px;
}
.font-s20 {
    font-size: 18px;
    line-height: 27px;
}
.font-s40 {
    font-size: 40px;
    line-height: 60px;
}
.font-s60 {
    font-size: 60px;
    line-height: 82px;
}
