html {}
body {
    margin: 0;padding: 0;
    font: 62.5%/1 arial,verdana,helvetica,clean,sans-serif;
    font-size: 12px;line-height: $line-height;
    color: #000;
    background: #373737 url(/public/static/images/bg.jpg) 50% 0 no-repeat fixed;
}
a {
    color: #2C9F33;text-decoration: none;
    span {color: #2C9F33;}
    span:before {background-color: #2C9F33;}
    &:hover {
        color: #338322;
        span {color: #338322;}
        span:before {background-color: #338322;}
    }
}
table {width: 100%;
    border-spacing: 0;
    border-top: 1px solid #B1B1B1;
    border-right: 1px solid #B1B1B1;
    tr {border: none;}
    td, th {
        font-weight: inherit;
        line-height: $line-height;
        border: none;
        border-bottom: 1px solid #B1B1B1;
        border-left: 1px solid #B1B1B1;
        padding: 3px 5px;
    }
    th,th:hover {background-color: gray;}
    td {border-color: #B1B1B1;}
    thead {
        background: #B1B1B1;
        color: #ffffff;
        .title {background: #ffffff;color: #000;text-align: center;
            td,td:hover {background-color: #ffffff;}
        }
    }
    tbody {
        td {background-color: whitesmoke;}
        tr.selected, tr:hover {
            td {background-color: #B1B1B1;}
            td.selected, td:hover {background-color: #ffffff;}
        }
    }
    tfoot {
        text-align: center;
        td,td:hover {background-color: #ffffff;}
        a {display: inline-block;padding: 0 5px;}
    }
}
.hilighted {color: #2C9F33;}
.window {display: block;}
.mobile {display: none;}
.viewport {
    min-height: 700px;
    display: flex;
    flex-direction: column;
    .page {flex: 1;}
}
.viewport-overlay {
    z-index: 10000000;position: fixed;top: 0;right: 0;bottom: 0;left: 0;
    display: flex;align-items: center;justify-content: center;background-color: rgba(0,0,0,.1);
    .spinner {
        z-index: 10000000;position: fixed;top: 0;right: 0;bottom: 0;left: 0;
        display: flex;align-items: center;justify-content: center;background-color: rgba(0,0,0,.1);
        img {
            position: initial;margin: initial;top: initial;left: initial;
        }
    }
}

.page {
    display: flex;flex-direction: column;align-items: flex-start;justify-content: center;
    padding: 0;
    width: 100%;
    .container {width: 100%;margin: auto;}
    .header-container,.viewport,.footer-container {padding: 0 85px;width: 960px;margin: auto;background-color: #fff;}
}
.page .viewport .content-sidebar {
    flex: 1;display: flex;flex-direction: row;align-items: flex-start;justify-content: flex-start;
    > .section > .section {
        border-top: 1px solid #f5f5f5;
    }
    .sidebar {width: 166px;}
    .content {flex: 1;margin: 0;}
}
.page .viewport .content-sidebar-left {
    .sidebar {
        margin: 0 15px 0 0;
    }
}
.page .viewport .content-sidebar-right {
    .sidebar {
        margin: 0 0 0 15px;
    }
}
.page .viewport .content-no-sidebar {
}
.page .viewport {
    .sidebar {
        list-style: none;
        background-color: #ffffff;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
        display: list-item;
        font-size: 15px;
        ul {
            margin: 0;
            padding: 0;
            li {
                list-style: none;
                padding: 0;
                a {
                    display: block;
                    padding: 0 16px;
                    text-decoration: none;
                    span {
                        display: block;
                        border-bottom: 1px solid #f5f5f5;
                        line-height: $line-height-200;
                        cursor: pointer;
                        position: relative;
                        font-weight: 600;
                        &:before {
                            content: '';
                            display: block;
                            position: absolute;
                            top: 0;
                            left: -16px;
                            width: 4px;
                            height: 100%;
                        }
                    }
                }
                &.active,&:hover {
                    a span {
                        font-weight: bold;
                        &:before {
                            background-color: #2C9F33;
                        }
                    }
                }
                &:last-child a span {
                    border-bottom: none;
                }
            }
        }
    }
    .heading {
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        color: #000000;
    }
    .section {
        padding: 0 0 37px;
        .heading {
            font-size: 18px;
            line-height: $line-height-200;
        }
    }
    .actions {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        margin-top: 24px;
        .btn {
            width: 170px;
        }
        .btn-white {
            margin-right: 16px;
        }
    }
    .agreement {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        color: #000000;
        margin-top: 16px;
        a {
            font-weight: bold;
            color: #2C9F33;
        }
    }
    .display-columns {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        .col {
            flex: 1;
        }
        .col-1-3 {
            width: 33%;
        }
        .col-1-4 {
            width: 25%;
        }
        .col-1-2 {
            width: 50%;
        }
    }
    .content {
        background-color: #ffffff;
        > .heading {
            font-size: 20px;line-height: $line-height-200;border-bottom: 1px solid #fafafa;
        }
        a {cursor: pointer;color: #2C9F33;display: inline-block;}
        label {font-weight: normal;}
        .input-box {min-height: 36px;}
        .wrapper {display: flex;flex-direction: row;align-items: flex-start;justify-content: flex-start;padding: 24px 0;}
        .page-form {flex: 1;}
        .field {display: flex;flex-direction: column;flex:1;margin-bottom: 24px;}
        .field-label {font-size: 14px;font-weight: bold;margin-bottom: 8px;color: #263238;}
        .field-hilighted-label {font-size: 14px;font-weight: bold;margin-bottom: 8px;color: #2C9F33;}
        .field-group {display: flex;flex-direction: row;flex:1;}
        .actions {
            margin: 32px 0;
            button {text-transform: uppercase;flex:1;margin-left: 24px;
                &:first-child {margin-left: 0;}
            }
        }
    }
    .radio-selection {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 16px;
        .labels {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            .name {
            }
            .number {
                font-size: 12px;
                color: #7a7a7a;
            }
        }
    }
    .selection {
        input {
            vertical-align: top;
            margin: 5px 16px 0 0;
        }
        label {
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            color: #000000;
            line-height: 24px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .window {display: block;}
    .mobile {display: none;}
    .page .viewport .content-sidebar {padding: 0;flex-direction: column;
        .sidebar {margin: 0;width: 100%;}
        .content {margin: 0;width: 100%;}
    }
    .page .viewport {
        .sidebar {
            background-color: #f5f5f5;height: 53px;line-height: 53px;
            ul {
                display: flex;flex-direction: row;align-items: center;justify-content: center;
                li {
                    a span {
                        height: 53px;line-height: 53px;color: #8a9093;font-weight: normal;white-space: nowrap;
                        &:before {
                            height: 4px;width: 100%;left: 0;top: 100%;margin-top: -4px;background-color: #f5f5f5;
                        }
                    }
                    &:hover {
                        a span {color: #8a9093;font-weight: normal;}
                    }
                    &.active a span {color: #2C9F33;font-weight: bold;}
                }
            }
        }
        .content {
            .heading:first-child {display: none;}
            .wrapper {flex-direction: column;padding: 0;
                .profile-picture {padding: 32px 0 0;align-items: center;width: 100%;
                    .file-upload-preview .dropzone {width: 128px;height: 128px;}
                }
                .page-form {padding: 32px 0 0;align-items: center;width: 100%;}
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .window {display: none;}
    .mobile {display: block;}
    .page .viewport .content-sidebar .content {
        .wrapper {flex-direction: column;padding: 0;
            .field {width: 100%;margin-left: 0;
                .field-label {width: 100%;}
            }
            .field-group {flex-direction: column;width: 100%;}
        }
    }
}
